.hero {
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  min-height: rem(650px);
  color: #fff;
  padding: rem(17px) 0 rem(60px);
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__main-title {
  font-size: rem(48px);
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: rem(30px);
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(50px);
  padding-right: 10%;

  @include tablets {
    padding: 0 25%;
  }
}

.hero__title-section {
  width: 46%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.blue-line{    
width: 100%;
height: rem(81px);
background: #1968B1;
position: absolute;
top: 0px;
left: 0;
display: none;

@include tablets {
  display: block;
}
}