.socials {
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}


.socials__link-vk {
  display: block;
  background: url(../../img/icons/css_sprites.png) -10px -10px;
  width: 36px;
  height: 36px;
  position: relative;
}

.socials__link-vk:hover:before {
  opacity: 1;
} 

.socials__link-vk:hover:after {
  opacity: 0;
}  

.socials__link-vk:after {
  content: '';
  display: block;
  position: absolute;
  background: url(../../img/icons/css_sprites.png) -10px -10px;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  transition: .3s;
}  

.socials__link-vk:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../../img/icons/css_sprites.png) -66px -10px;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .3s;
}  

