.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  display: inline-flex;
  margin-right: rem(14px);
  align-items: center;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: flex;
  width: rem(20px);
  height: rem(20px);
}

.social-link__svg:hover * {
  fill: #000;
  transition: 0.3s;
}

.social-link__vk {
  margin-top: rem(7px);
}
