@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
html,
body {
  height: 100%; }

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  position: relative;
  color: #666666; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 940px;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  margin: 0;
  padding: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  max-height: 100%; }

button {
  border: 0;
  cursor: pointer;
  background: transparent; }

.hero {
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  padding: 17px 0 60px; }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase; }

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 50px;
  padding-right: 10%; }

.hero__title-section {
  width: 46%; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu__list {
  display: flex;
  align-items: center; }

.menu__item {
  margin-right: 25px; }
  .menu__item:last-child {
    margin-right: 0; }

.phone-number {
  font-size: 22px;
  display: flex;
  align-items: center; }

.phone-number__icon-img {
  width: 14px;
  height: 13px;
  margin-right: 5px; }

.features {
  display: flex;
  flex-direction: row; }

.feature__item {
  margin-right: 35px; }
  .feature__item:last-child {
    margin-right: 0; }

.feature {
  display: flex; }

.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 10px;
  color: #fff; }

.feature__text {
  font-size: 16px;
  max-width: 90px; }

.button {
  font-size: 16px;
  font-weight: bold;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  border: none; }
  .button--yellow {
    background: #FEDB3F;
    color: #000; }
    .button--yellow:hover {
      background: #FFD517; }
  .button--transparent {
    color: #fff;
    font-weight: 400;
    text-transform: none;
    font-size: 18px; }
    .button--transparent:hover {
      color: #FFD517; }

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section--font--color--white {
    color: #fff; }
    .section--font--color--white .section__title {
      color: inherit; }

.section__title {
  font-size: 48px;
  font-weight: 700;
  color: blue;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase; }

.headline {
  text-align: center; }

.headline__title {
  margin-bottom: 10px; }

.headline__subtitle {
  padding: 0 27%;
  margin-bottom: 50px; }

.benefits {
  display: flex; }

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative; }
  .benefits__item:before {
    content: url("");
    background: url("../img/separator.png");
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateX(50%); }
  .benefits__item:first-child {
    padding-left: 0; }
  .benefits__item:last-child {
    padding-right: 0; }
    .benefits__item:last-child:before {
      display: none; }

.benefit {
  text-align: center; }

.benefit__image-wrapper {
  display: inline-flex;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden; }

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.benefit__title {
  color: #000;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 20px; }

.reviews__display {
  background: #F8FAF9;
  padding: 42px; }

.reviews__display-inner {
  display: flex; }

.reviews__avatar {
  width: 253px;
  height: 264px; }

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews__content {
  flex: 1;
  margin-left: 40px;
  padding-top: 25px; }

.reviews__title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000; }

.reviews__text {
  margin-bottom: 10px;
  padding-right: 85px; }

.reviews__author {
  font-size: 18px;
  font-weight: 500;
  color: #000; }

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .interactive-avatar--active {
    border-color: #FEDB3F; }

.interactive-avatar-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.order-section {
  background: url("../img/order.png") no-repeat center;
  background-size: cover; }

.form {
  display: flex; }

.form__col {
  flex: 1;
  margin-right: 25px; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 10px; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__block {
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  border: none;
  padding: 20px 15px;
  border-radius: 5px;
  border: solid 3px transparent;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400; }
  .form__input:focus {
    border-color: #FEDB3F;
    outline: none; }
  .form__input--textarea {
    height: 152px;
    resize: none;
    margin-bottom: 20px; }

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; }

.form__buttons {
  margin-top: 20px; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 20px; }
  .radio:last-child {
    margin-right: 0; }
  .radio--checkbox .radio__visible {
    border-radius: 5px; }
    .radio--checkbox .radio__visible:before {
      background: url(../img/icons/checkmark.png) center no-repeat; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible::before {
    display: block; }

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff; }
  .radio__visible:before {
    content: "";
    width: 13px;
    height: 13px;
    background: #FEDB3F;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

.radio__title {
  margin-left: 10px; }

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100; }

.fixed-menu__item {
  margin-bottom: 5px; }
  .fixed-menu__item:last-child {
    margin-bottom: 0; }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #fff; }

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative; }
  .fixed-menu__link:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
