$containerWidth: 940px;
$baseFontSize: 18px; 

//colors
$yellow: #FEDB3F;
$yellow-hover: #FFD517;
$grey: #666666;
$black: #292929;

//breakpoints
$tablets :rem(768px);
$phones: rem(480px);

//z-indexes
$z-fixed-menu: 100;

//normaloze
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap');
@import './base';
@import './bloks/hero';
@import './bloks/header';
@import './bloks/features';
@import './bloks/feature';
@import './bloks/button';
@import './bloks/section';
@import './bloks/headline';
@import './bloks/benefits';
@import './bloks/benefit';
@import './bloks/reviews';
@import './bloks/interactive-avatar';
@import './bloks/order_section';
@import './bloks/form';
@import './bloks/radio';
@import './bloks/fixed-menu';
@import 'media';
@import './bloks/hamburger';